/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font-family: 'Permanent Marker', cursive;
// font-family: 'Poppins', sans-serif;

/*Colors*/
$mainColor:#FA0368;
$secondaryColor:#170390;
$alternativeBlue:#180578;
$white:#FFFFFF;
$black:#2D2D2D;

/*Global*/
::selection{
    background-color: $mainColor;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*==========================*/


/*Home Section*/
#home{
    background: url(../img/HomeBanner.jpg) no-repeat center center/cover;
    height: 960px;
    min-width: 450px;
    .homeWrapper{
        width: 100%;
        position: fixed;
        transition: all 0.3s ease;
        z-index: 9999;
    }
    .container{
        max-width: 1220px;
        .navbarr{
            padding: 5px;
            display: flex;
            justify-content: space-between;
            .logo{
                padding-top: 16px;
                img{
                    width: 32px;
                    margin-bottom: 10px;
                }
                span{
                    font-family: 'Poppins', sans-serif;
                    font-size: 35px;
                    color: $white;
                    font-weight: 500;
                }
            }
            ul{
                padding-left: 250px;
                padding-top: 18px;
                li{
                    display: inline-block;
                    padding: 13px 16px;
                    list-style-type: none;
                    a{
                        font-family: 'Poppins', sans-serif;
                        text-decoration: none;
                        color: $white;
                        font-weight: 600;
                    }
                    a:hover{
                        color: $mainColor;
                        transition: 0.3s;
                    }
                }
            }
            .btn{
                padding-top: 23px;
                margin-left: 50px;
                transition: all 0.7s ease;
                button{
                    padding: 7px 20px;
                    border-radius: 4px;
                    border: none;
                    background-color: $mainColor;
                    a{
                        font-family: 'Poppins', sans-serif;
                        color: $white;
                        font-size: 13px;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
                button:hover{
                    background: rgba(0, 0, 0, 0) linear-gradient(160deg, #ff0066 0%, #d41872 80%, #a445b2 168%) repeat scroll 0% 0%;
                }
            }
        }
    }
    .homeWrapper.sticky{
        background-color: $white;
        transition: all 0.3s ease;
        .logo{
            span{
                color: $black;
            }
        }
        ul{
            li{
                a{
                    color: $black;
                }
            }
        }
    } 
    .homeContentWrapper{
        padding-top: 240px;
        .homeContent{
            font-family: 'Poppins', sans-serif;
            color: $white;
            font-family: 'Permanent Marker', cursive;
            h1{
                font-weight: 900;
                font-size: 170px;
                letter-spacing: 9px;
            }
            h2{
                font-weight: 900;
                font-size: 88px;
                letter-spacing: 1px;
            }
        }
    }
    .menuBtn{
        width: 50px;
        height: 50px;
        text-align: center;
        position: fixed;
        right: 30px;
        top:20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
        img{
            width: 20px;
            margin-top: 15px;
        }
    }
    .clockWrapper{
        padding-top: 40px;
        margin-right: 615px;
        #clock{
            padding:12px 16px;
            display: flex;
            color: $white;
            div{
                span:nth-child(1){
                    font-family: 'Poppins', sans-serif;
                    font-weight: 800;
                    font-size: 60px;
                    padding-right: 45px;
                }
                span:nth-child(2){
                    position: absolute;
                    font-size: 50px;
                    font-size: 60px;
                    font-weight: 400;
                }
            }
            div:nth-child(1){
                span:nth-child(1){
                    color: #FA0368;
                    margin-left: 7px;
                }
                span:nth-child(2){
                    left: 124px;
                    top: 4px;
                }

            }
            div:nth-child(2){
                span:nth-child(1){
                    color: #F0C32E;
                }
                span:nth-child(2){
                    left: 246px;
                    top: 4px;
                }
            }
            div:nth-child(3){
                span:nth-child(1){
                    color: #70C4F2;
                }
                span:nth-child(2){
                    left: 368px;
                    top: 4px;
                }
            }
            div:nth-child(4){
                span:nth-child(1){
                    color: #941770;
                }

            }
        }
        .text{
            display: flex;
            color: $white;
            font-family: 'Poppins', sans-serif;
            h6:nth-child(1){
                padding-right: 40px;
                padding-left: 29px;
                color: #FA0368;
            }
            h6:nth-child(2){
                padding-right: 40px;
                padding-left: 44px;
                color: #F0C32E;
            }
            h6:nth-child(3){
                padding-right: 40px;
                padding-left: 22px;
                margin-left: -1px;
                color: #70C4F2;
            }
            h6:nth-child(4){
                padding-right: 40px;
                padding-left: 8px;
                color: #941770;
            }
        }
    }
}


/*Festival Section*/

#festival{
    background: url(../img/festivalBanner.jpg) no-repeat center center/cover;
    height: 639px;
    min-width: 450px;
    .container{
        .textPart{
            padding-top: 145px;
            h2{
                color: $white;
                text-align: center;
                font-family: 'Permanent Marker', cursive;
                font-size: 40px;
            }
            h2:before{
                content: "";
                display: block;
                width: 75px;
                height: 5px;
                background: #FA0368;
                position: absolute;
                top: 34%;
                left: 47%;
            }
            p{
                color: $white;
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                line-height: 26px;
                font-weight: 500;
                text-align: center;
                padding-top: 30px;
            }
        }
        .girlImage{
            position: absolute;
            top: -225px;
            left: 9px;
        }
        .boyImage{
            position: absolute;
            top: -234px;
            left: 903px;
        }
        .videoImageWrapper{
            display: flex;
            justify-content: center;
            img{
                height: 550px;
                width: 100%;
                border-radius: 6px;
                margin-top: 45px;
            }
            .play-btn{
                background: $mainColor;
                color: $white;
                font-size: 20px;
                height: 80px;
                width: 80px;
                position:absolute;
                left: -10px;
                top: 23px;
                right: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                border-radius: 50%;
                i{
                    line-height: 85px;
                    margin-left: 5px;
                }
            }
            .play-btn::before,.play-btn::after{
                content: "";
                position: absolute;
                border: 1px solid $mainColor;
                border-radius: 50%;
                left: -20px;
                right: -20px;
                top: -20px;
                bottom: -20px;
                animation: animate 3.25s linear infinite;
                opacity: 0;
            }
            .play-btn::after{
                animation-delay: 0.5s;
            }
            @keyframes  animate{
                0%{
                    transform:scale(.5);
                }
                50%{
                    opacity: 1;
                }
                100%{
                    transform:scale(1.5);
                }
            }
        }
    }
}


/*Special Performers Section*/

#specialPerformers{
    background-color: $secondaryColor;
    padding-top: 385px;
    padding-bottom: 80px;
    min-width: 450px;
    .container{
        .textPart{
            h2{
                color: $white;
                text-align: center;
                font-family: 'Permanent Marker', cursive;
                font-size: 40px;
            }
            h2:before{
                content: "";
                display: block;
                width: 75px;
                height: 5px;
                background: #FA0368;
                position: absolute;
                top: -55%;
                left: 47%;
            }
        }
        .item{
            transition: 0.4s ease;
            padding-left: 10px;
            padding-right: 10px;
                .singerInfo{
                    height: 105px;
                    background-color: $alternativeBlue;
                    h5{
                        font-family: 'Poppins', sans-serif;
                        padding-top: 20px;
                        color: $white;
                        text-align: center;
                        font-weight: bold;
                    }
                    p{
                        font-family: 'Poppins', sans-serif;
                        color: $white;
                        text-align: center;
                        font-size: 16px;
                        padding-top: 5px;
                    }
                }
                img{
                    position: relative;
                }
                .icons{
                    z-index: 10;
                    position: absolute;
                    margin-left: 302px;
                    top:-145px;
                    transition: all 0.6s ease;
                    li{
                        background-color: #25118E;
                        list-style-type: none;
                        padding: 6px 14px;
                        a{
                            text-decoration: none;
                            i{
                                color: $white;
                            }
                            i:hover{
                                color: $mainColor;
                                transition: 0.3s;
                            }
                        }
                
                    }
                }
        }
        .SP3,.SP6{
            .icons{
                margin-left: 303px;
            }
        }
        .item:hover{
            .icons{
                top:0px;
            }
        }
        .owl-theme .owl-dots{
            margin-top: 35px;
        }
        .owl-theme .owl-dots .owl-dot span{
            width: 25px;
            border-radius: 0;
            height: 6px;
            background-color: $mainColor;
            transition: all 0.2s ease-in-out;
        }
        .owl-theme .owl-dots .owl-dot span:hover{
            width: 40px;
            opacity: 0.6;
        }
    }
}


/*Strategy Section*/

#strategy{
    background-color:$alternativeBlue ;
    padding-top: 90px;
    padding-bottom: 90px;
    min-width: 450px;
    .container{
        .iconWrapper{
            display: flex;
            color: $white;
            font-family: 'Poppins', sans-serif;
 
            img{
                width: 75px;
                height: 75px;
            }
            .cntPartWrapper{
                padding-left: 22px;
                h1{
                    font-weight: 600;
                    font-size: 45px;
                }
                p{
                    font-weight: 500;
                    margin-top: -6px;
                }
                .cntPart{
                    span{
                        font-size: 47px;
                        font-weight: 700;
                        margin-top: -9px;
                        padding-left: 3px;
                    }
                }
            }
        }
    }
}

/*Event Section*/

#event{
    background-color: $secondaryColor;
    padding-top: 143px;
    padding-bottom: 95px;
    min-width: 450px;
    .container{
        .textPart{
            h2{
                color: $white;
                text-align: center;
                font-family: 'Permanent Marker', cursive;
                font-size: 40px;
            }
            h2:before{
                content: "";
                display: block;
                width: 75px;
                height: 5px;
                background: #FA0368;
                position: absolute;
                top: -38%;
                left: 47%;
            }
            padding-bottom: 35px;
        }
        font-family: 'Poppins', sans-serif;
        th,td{
            color: $white;
            border: 0px;
        }
        thead{
            background-color: $alternativeBlue;
        }
        tbody{
            tr:nth-child(1){
                background-color: #3113A6;
            }
            tr:nth-child(2){
                background-color: $alternativeBlue;
            }
            tr:nth-child(3){
                background-color: #3113A6;
            }
            tr:nth-child(4){
                background-color: $alternativeBlue;
            }
        }
        .artist{
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
}


/*Company Section*/

#company{
    background: url(../img/companyBanner.jpg) no-repeat center center/cover;
    padding-top: 165px;
    padding-bottom: 120px;
    min-width: 450px;
    .container{
        .textPart{
            h2{
                color: $white;
                text-align: center;
                font-family: 'Permanent Marker', cursive;
                font-size: 40px;
            }
            h2:before{
                content: "";
                display: block;
                width: 75px;
                height: 5px;
                background: #FA0368;
                position: absolute;
                top: -55%;
                left: 47%;
            }
        }
        .cm{
            .logoWrapper{
                img{
                    width: 120px;
                    height: 120px;
                    transition: transform 0.3s;
                }
                img:hover{
                    transform: scale(0.9);
                }
            }
            background-color: #25056C;
            padding: 75px;
            transition: transform 0.3s;
        }
        .cmWrapper5,.cmWrapper6,.cmWrapper7,.cmWrapper8{
            margin-top: 20px;
        }
    }
}


/*Latest Updates*/
#latestUpdates{
    background-color: $secondaryColor;
    padding-top: 165px;
    padding-bottom: 75px;
    min-width: 450px;
    .container{
        .textPart{
            h2{
                color: $white;
                text-align: center;
                font-family: 'Permanent Marker', cursive;
                font-size: 40px;
            }
            h2:before{
                content: "";
                display: block;
                width: 75px;
                height: 5px;
                background: #FA0368;
                position: absolute;
                top: -55%;
                left: 47%;
            }
        }
        .item{
            padding-left: 10px;
            padding-right: 10px;
            img{
                transition: transform 0.3s;
            }
            .updatesInfo{
                background-color: $alternativeBlue;
                height: 230px;
                color: $white;
                font-family: 'Poppins', sans-serif;
                .icons{
                    display: flex;
                    i{
                        color: $mainColor;
                        font-size: 14px;
                    }
                    div:nth-child(1){
                        padding-left: 35px;
                        padding-top: 35px;
                        font-weight: 300;
                        font-size: 14px;
                    }
                    div:nth-child(1)::after{
                        content: "";
                        height: 12px;
                        width: 1px;
                        position: absolute;
                        right: 0;
                        left: 33%;
                        transform: rotate(20deg) translateY(-62%);
                        top: 60%;
                        background: #ccc;
                    }
                    div:nth-child(2){
                        padding-top: 35px;
                        padding-left: 50px;
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
                h5{
                    padding-left: 35px;
                    padding-top: 10px;
                    font-weight: 600;
                    font-size: 18px;
                    transition: color 0.3s;
                }
                h5:hover{
                    color: $mainColor;
                }
                .btn{
                    padding-top: 23px;
                    padding-left: 35px;
                    transition: all 0.3s;
                    button{
                        padding-top: 7px;
                        padding-bottom: 7px;
                        padding-left: 22px;
                        padding-right: 38px;
                        border-radius: 4px;
                        border: none;
                        background-color: $mainColor;
                        a{
                            font-family: 'Poppins', sans-serif;
                            color: $white;
                            font-size: 13px;
                            font-weight: 500;
                            text-decoration: none;
                        }
                        i{
                            color: $white;
                            font-size: 12px;
                            padding-left: 6px;
                            font-weight: 900;
                            transition: padding-left 0.3s;
                        }
                    }
                    button:hover{
                        background: rgba(0, 0, 0, 0) linear-gradient(160deg, #ff0066 0%, #d41872 80%, #a445b2 168%) repeat scroll 0% 0%;
                        i{
                            padding-left: 16px;
                        }
                    }
                }
            }
    
        }
        .item:hover{
            .icons{
                top:0px;
            }
        }
        .owl-theme .owl-dots{
            margin-top: 35px;
        }
        .owl-theme .owl-dots .owl-dot span{
            width: 25px;
            border-radius: 0;
            height: 6px;
            background-color: $mainColor;
            transition: all 0.2s ease-in-out;
        }
        .owl-theme .owl-dots .owl-dot span:hover{
            width: 40px;
            opacity: 0.6;
        }
    }
}


/*Footer*/
#footer{
    background: url(../img/footerImage.jpg) no-repeat center center/cover;
    padding-top: 110px;
    min-width: 450px;
    .container{
        font-family: 'Poppins', sans-serif;
        .logo{
            img{
                width: 32px;
                margin-bottom: 10px;
            }
            span{
                font-family: 'Poppins', sans-serif;
                font-size: 35px;
                color: $white;
                font-weight: 500;
            }
        }
        .address{
            color: $white;
            h6{
                letter-spacing: 1px;
            }
            p{
                font-size: 13px;
            }
        }
        .callUs{
            color: $white;
            h6{
                letter-spacing: 1px;
            }
            p{
                font-size: 13px;
            }
        }
        .followUs{
            color: $white;
            padding-left: 75px;
            p{
                font-size: 13px;
            }
            h6{
                letter-spacing: 1px;
            }
        }
        .icons{
            display: flex;
            margin-left: 69px;
            margin-top: 15px;
            li{
                list-style-type: none;
                padding: 10px 6px;
                a{
                    i{
                        color: $white;
                        font-size: 14px;
                        transition: color 0.5s ease;
                    }
                    i:hover{
                        color: $mainColor;
                    }
                }
            }
        }
        .copyright{
            margin-top: 107px;
            span{
                color: $mainColor;
            }
            p{
                color: $white;
                font-size: 15px;
            }
        }
    }
}


/*Scroll Up*/
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: $mainColor;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: $white;
    z-index: 9999999999999999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
 .scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover{
    background: rgba(0, 0, 0, 0) linear-gradient(160deg, #ff0066 0%, #d41872 80%, #a445b2 168%) repeat scroll 0% 0%;
}
